header  {
  text-align: center;
}

img {display: block;
  margin: 0 auto;
}

nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
  text-align: center;
  display: inline-block;
}

figcaption {
  font-size: 0.8rem;
text-align: center;
}

#featured-property{
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#details {
  float: left;
}

.div bottom{
  background-color: orangered;
  text-align: center;
  width: 25%
}

