header {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  align-items: center;
}

nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
  text-align: center;
  display: inline-block;
}

figcaption {
  font-size: 1rem;
  text-align: center;
}

#featured-property p {
  width: 800px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 540px;
}

#details div {
  float: left;
  text-align: center;
  width: 25%;
  background-color: orangered;

}

